// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
}
.jumbotron{
  background: url("/assets/taylors/images/taylors-banner.jpg");
}
.jumbotron .container div{
  padding: 15px 15px 0;
}
.home-logo-wrapper{

}

@media (min-width: 576px) {
  .jumbotron {
    padding: 0rem 2rem;
  }
}
