<div [ngClass]="randomClass">
  <div class="overlay">
    <div class="container">
      <div class="d-flex flex-wrap">
        <div class="news-spacer"></div>
        <div>

          <div class="container pt-2" style="max-width: 850px">
            <h4 class="mb-3 text-center" style="font-weight: 700">Search the Repository</h4>
            <ds-search-form [inPlaceSearch]="false"
                            [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
          </div>

          <p class="lead text-center">
            The Institutional Repository is a digital hub for scholarly communication and knowledge
            dissemination which serves as a vital resource for researchers, students and the wider
            academic community. Content comprises of research publications, theses, conference
            proceedings and much more.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
