<div [ngClass]="randomClass">
  <div class="overlay">
    <div class="container">
      <div class="d-flex flex-wrap">
        <div class="news-spacer"></div>
        <div>
          <h1 class="display-5">Institutional Repository</h1>
          <p class="lead">
            The Institutional Repository is a digital hub for scholarly communication and knowledge
            dissemination which serves as a vital resource for researchers, students and the wider
            academic community. Content comprises research publications, theses, conference
            proceedings and much more.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
