// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';
header{
  background-color: var(--iris-blue);
}
header .navbar {
  padding: 4px 0;
}
#main-navbar {
  background-color: #EBEBEB;
}
.logo h1 a img{
  max-width: 100px;
}
.jumbotron{
  background-image: url("/assets/arcoiris/images/library-stock.jpg");
  background-size: cover;
  background-position: center;
}
.btn-primary {
  background-color: var(--iris-blue);
  border-color: var(--iris-blue);
}
a{
  color: var(--iris-blue)
}
a.nav-link {
  color: var(--iris-blue);
  font-weight: bold;
}
.card-img{
  max-width: 60px;
}
.search-form input{
  opacity: 0.8;
}
#collections-wrapper{
    opacity: 0.8;
    border: solid 4px var(--iris-blue);
    border-radius: 6px;
}
.btnItem figure img{
  max-width: 80px;
}
.badge-info {
  background-color: var(--iris-blue);
}
.item-list-title{
  font-weight: bold;
}
.expandButton, .collapseButton{
  color: var(--iris-blue)
}
.item-list-abstract{
  text-align: justify;
}
footer{
  background-color: var(--iris-blue);
}
hr {
  border-top: 1px solid white;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--iris-blue);
  border-color: var(--iris-blue);
}
.comcol-header{
  background-color: white;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: var(--iris-blue);
  border-color: var(--iris-blue);
}
.btn-outline-primary {
  color: var(--iris-blue);
  border-color: var(--iris-blue);
}
#recent-items-list{
  .border-bottom{
    display: none;
    border-bottom: none !important;
  }
  h2{
    padding-bottom: 15px;
    border-bottom: 1px solid #dee2e6 !important;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

/*
 * BREADCRUMB
 */
.nav-breadcrumb {
  background-color: var(--ds-breadcrumb-bg);
}

.breadcrumb {
  border-radius: 0;
  margin-top: calc(-1 * var(--ds-content-spacing));
  padding-bottom: var(--ds-content-spacing / 3);
  padding-top: var(--ds-content-spacing / 3);
  background-color: var(--ds-breadcrumb-bg);
}

li.breadcrumb-item {
  display: flex;
}

.breadcrumb-item-limiter {
  display: inline-block;
  max-width: var(--ds-breadcrumb-max-length);
  > * {
    max-width: 100%;
    display: block;
  }
}


li.breadcrumb-item.active {
  color: var(--ds-breadcrumb-link-active-color);
}

.breadcrumb-item+ .breadcrumb-item::before {
  display: block;
  content: quote("•") !important;
}

li.breadcrumb-item a {
  color: var(--iris-blue);
}

