<footer class="text-lg-start">
  <div class="top-footer">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-widget widget-area" id="nb-university-links" role="complementary">
            <div><h2 class="rounded">Library Links</h2>
              <div class="menu-library-links-container">
                <ul class="menu" id="menu-library-links">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290" id="menu-item-290"><a
                    href="http://library.mku.ac.ke/contact-us/">Contact Us</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86" id="menu-item-86"><a
                    href="http://erepository.mku.ac.ke">E-Repository</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-593" id="menu-item-593"><a
                    href="https://app.myloft.xyz/user/login?institute=cl0aqqeqjiqr009440ixfo6wl" target="_blank">E-Books</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-594" id="menu-item-594"><a
                    href="https://app.myloft.xyz/user/login?institute=cl0aqqeqjiqr009440ixfo6wl"
                    target="_blank">E-Journals</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81" id="menu-item-81"><a
                    href="http://library.mku.ac.ke/about-us/mission-vision/">Mission &amp; Vision</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82" id="menu-item-82"><a
                    href="http://library.mku.ac.ke/about-us/rules-regulations/">Rules &amp; Regulations</a></li>
                </ul>
              </div>
            </div>
          </div><!-- #primary-sidebar -->
        </div>
        <div class="col-md-4">
          <div class="footer-widget widget-area" id="nb-university-links" role="complementary">
            <div><h2 class="rounded">University Links</h2>
              <div class="menu-university-links-container">
                <ul class="menu" id="menu-university-links">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-271" id="menu-item-271"><a
                    href="http://www.mku.ac.ke"  target="_blank">University Website</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-140" id="menu-item-140">
                    <a href="https://staff.mku.ac.ke/umis/staff/"  target="_blank">Staff Portal</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141" id="menu-item-141">
                    <a href="https://mkuac.sharepoint.com/SitePages/Home.aspx" target="_blank">
                      QMS Manual</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-87">
                    <a href="https://studentportal.mku.ac.ke/umis/studentportal/" target="_blank">Students' Portal</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88" id="menu-item-88">
                    <a href="https://distance.mku.ac.ke/portal" target="_blank">Digital Learning Portal</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-143" id="menu-item-143"><a
                    href="https://www.odel.mku.ac.ke/" target="_blank">ODEL</a></li>
                </ul>
              </div>
            </div>
          </div><!-- #primary-sidebar -->
        </div>
        <div class="col-md-4">
          <div class="footer-widget widget-area" id="" role="complementary">
            <div><h2 class="rounded">Useful Links</h2>
              <div class="menu-other-links-container">
                <ul class="menu" id="menu-other-links">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89" id="menu-item-89"><a
                    href="http://turnitin.com" target="_blank">Check Plagiarism(turnitin)</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-142"><a href="http://scholar.google.com"
                                                                                                             target="_blank">Google
                    Scholar</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-148"><a href="https://www.zotero.org/"
                                                                                                             target="_blank">Zotero
                    Citation Tool</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-595"><a href="https://app.myloft.xyz/user/login?institute=cl0aqqeqjiqr009440ixfo6wl"
                                                                                                             target="_blank">E-Resources</a>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-596"><a href="https://cgsr.mku.ac.ke/"
                                                                                                             target="_blank">Research</a>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- #primary-sidebar -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="" routerLink="./">Lorem ipsum</a>
            </li>
            <li>
              <a class="" routerLink="./">Ut facilisis</a>
            </li>
            <li>
              <a class="" routerLink="./">Aenean sit</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="" routerLink="./">Suspendisse potenti</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container text-center">
      <p class="m-0">
        <a class="text-white" href="http://www.mku.ac.ke/">
          Mount Kenya University</a>,
        Copyright {{ dateObj | date:'y' }}.
      </p>
      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
        <li class="m-2">
          <a (click)="showCookieSettings()" class="text-white"
             href="javascript:void(0);">{{ 'footer.link.cookies' | translate}}</a>
        </li>
        <li *ngIf="showPrivacyPolicy" class="m-2">
          <a class="text-white"
             routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement" class="m-2">
          <a class="text-white"
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li *ngIf="showSendFeedback$ | async" class="m-2">
          <a class="text-white"
             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
</footer>
