<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="d-flex flex-row">
  <ds-themed-item-page-title-field class="mr-auto" [item]="object">
  </ds-themed-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
      <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"
                    [defaultImage]="'assets/images/person-placeholder.svg'"
                    [alt]="'thumbnail.person.alt'"
                    [placeholder]="'thumbnail.person.placeholder'">
      </ds-themed-thumbnail>
    </ds-metadata-field-wrapper>
    <div *ngIf="object.hasMetadata(['person.familyName'])">
      <div *ngIf="object.hasMetadata(['person.salutation'])" class="font-weight-bold">
        {{ object.firstMetadataValue(['person.salutation']) | dsCapitalize }}
        {{ object.firstMetadataValue(['person.familyName']) | dsCapitalize }}
        {{ object.firstMetadataValue(['person.givenName']) | dsCapitalize }}
      </div>
      <div *ngIf="object.hasMetadata(['person.jobTitle'])" class="font-weight-bold">
        {{ object.firstMetadataValue(['person.jobTitle']) }}
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-md-7">
    <ds-related-items
      [parentItem]="object"
      [relationType]="'isProjectOfPerson'"
      [label]="'relationships.isProjectOf' | translate">
    </ds-related-items>
    <ds-related-items
      [parentItem]="object"
      [relationType]="'isOrgUnitOfPerson'"
      [label]="'relationships.isOrgUnitOf' | translate">
    </ds-related-items>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th scope="row" class="bg-light">Name</th>
        <td *ngIf="object.hasMetadata(['person.salutation'])">
          {{ object.firstMetadataValue(['person.salutation']) | dsCapitalize }}
          {{ object.firstMetadataValue(['person.familyName']) | dsCapitalize }}
          {{ object.firstMetadataValue(['person.givenName']) | dsCapitalize }}
        </td>
      </tr>
      <tr *ngIf="object.hasMetadata(['person.jobTitle'])">
        <th scope="row" class="bg-light">Job Title</th>
        <td >
          {{ object.firstMetadataValue(['person.jobTitle']) | dsCapitalize }}
        </td>
      </tr>
      <tr *ngIf="object.hasMetadata(['person.academicQualification'])">
        <th scope="row" class="bg-light">Academic Qualification</th>
        <td>
          {{ object.firstMetadataValue(['person.academicQualification']) | dsCapitalize }}
        </td>
      </tr>
      <tr *ngIf="object.hasMetadata(['person.specialty'])">
        <th scope="row" class="bg-light">Specialty</th>
        <td>
          {{ object.firstMetadataValue(['person.specialty']) | dsCapitalize }}
        </td>
      </tr>
      <tr *ngIf="object.hasMetadata(['person.affiliation.school'])">
        <th scope="row" class="bg-light">School</th>
        <td>
          {{ object.firstMetadataValue(['person.affiliation.school']) | dsCapitalize }}
        </td>
      </tr>
      <tr *ngIf="object.hasMetadata(['person.affiliation.department'])">
        <th scope="row" class="bg-light">Department</th>
        <td>
          {{ object.firstMetadataValue(['person.affiliation.department']) | dsCapitalize }}
        </td>
      </tr>
      <tr *ngIf="object.hasMetadata(['person.subjectInterest'])">
        <th scope="row" class="bg-light">Subject Areas</th>
        <td>
          <div class="item-page-field">
            <ds-metadata-values
              [mdValues]="object?.allMetadata(['person.subjectInterest'])"
              [separator]="', '"
            ></ds-metadata-values>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="w-100 person-bio" *ngIf="object.hasMetadata(['person.shortBio'])">
    <h5 class="font-weight-bold"> About
      {{ object.firstMetadataValue(['person.salutation']) | dsCapitalize }}
      {{ object.firstMetadataValue(['person.familyName']) | dsCapitalize }}
      {{ object.firstMetadataValue(['person.givenName']) | dsCapitalize }}
    </h5>
    <div class="item-page-field">
      <ds-metadata-values
        [mdValues]="object?.allMetadata(['person.shortBio'])"
        [separator]="'; '" [title]="'Short Bio'"
      ></ds-metadata-values>
    </div>
  </div>
  <div class="w-100">
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']">
        {{"item.page.link.full" | translate}}
      </a>
    </div>
    <ds-tabbed-related-entities-search  [item]="object" [title]="'Author Publications'"
                                        [relationTypes]="[{
                                          label: 'isAuthorOfPublication',
                                          filter: 'isAuthorOfPublication',
                                          configuration: 'default-relationships'
                                        }]">
    </ds-tabbed-related-entities-search>
  </div>
</div>
