<ds-themed-home-news></ds-themed-home-news>
<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
<!--  <ds-themed-top-level-community-list></ds-themed-top-level-community-list>-->
  <div class="row">
    <div class="col-md-9" id="recent-items-list">
      <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>
    </div>
    <div class="col-md-3 text-center my-4">
      <div class="col-md-12">
        <a class="btnItem p-2" routerLink="/browse/author">
          <figure>
            <img src="/assets/arcoiris/images/2-persons.png" class="mb-2" />
            <figcaption>Filtrar por autora</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-md-12">
        <a class="btnItem p-2" routerLink="/browse/subject">
          <figure>
            <img src="/assets/arcoiris/images/callout.png" class="mb-2" />
            <figcaption>Filtrar por tema</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-md-12">
        <a class="btnItem p-2" routerLink="/browse/dateissued">
          <figure>
            <img src="/assets/arcoiris/images/clock-calendar.png" class="mb-2" />
            <figcaption>Filtrar por fecha de emisión</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-md-12">
        <a class="btnItem p-2" routerLink="/browse/type">
          <figure>
            <img src="/assets/arcoiris/images/community-logo-3.png" class="mb-2" />
            <figcaption>Filtrar por tipo</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 p-2 h-100 ">
        <img src="/assets/arcoiris/images/alicia.png" alt="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 p-2 h-100">
        <img src="/assets/arcoiris/images/referencia.png" alt="" />
      </div>
    </div>
  </div>
</div>
