<ds-themed-home-news></ds-themed-home-news>

<div class="container-fluid bg-light p-5" style="width: 100%;">
  <div class="container pt-2">
    <h4 class="mb-3">Search the Repository</h4>
    <ds-search-form [inPlaceSearch]="false"
                    [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
  </div>
</div>

<!-- <div class="container-fluid bg-info p-5">
  <div class="container pt-2">
    <h4 class="mb-3">Featured Publications</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
</div> -->

<div class="container mt-5">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  
  <ds-top-level-community-list></ds-top-level-community-list>
  <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>
</div>
