// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';


.btn-primary.disabled, .btn-primary:disabled, .btn-primary {
  background-color: var(--mku-orange);
  border-color: var(--mku-orange);
}
.badge-info, .badge-secondary {
  background-color: var(--mku-orange);
  border-color: var(--mku-orange);
}

.btn-link, .dropdown-toggle {
  color: var(--mku-blue);
}

div.background-image {
  color: #fff;
  background-color: #000;
  position: relative;
  background-size: cover;
  min-height: 350px;
}
div.background-image.background-image-1{
  background-image: url(/assets/mku/images/mku_nutrition_group.jpg);
  background-position: 50% 50%;
}
div.background-image.background-image-3{
  background-image: url(/assets/mku/images/mku_dancers_1.jpg);
  background-position: 50% 50%;
}
div.background-image.background-image-5{
  background-image: url(/assets/mku/images/eresources-1.jpg);
  background-position: 50% 50%;
}

div.background-image.background-image-6{
  background-image: url(/assets/mku/images/eresources-2.jpg);
  background-position: 50% 50%;
}
div.background-image.background-image-7{
  background-image: url(/assets/mku/images/eresources-3.jpg);
  background-position: 50% 50%;
}

div.background-image .overlay {
  background: #000;
  background: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(50%,transparent),color-stop(70%,rgba(0,0,0,.6110819328)),to(rgba(0,0,0,.75)));
  background: linear-gradient(180deg,transparent,transparent 10%,rgba(0,0,0,.6110819328) 70%,rgba(0,0,0,.75));
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 70px;
}
div.background-image .container {
  text-shadow: 1px 1px 4px rgba(0,0,0,.6);
}
.navbar a, .item-list-title {
  color: var(--mku-blue);
}
.item-list-title {
  font-weight: bold;
}
.navbar-brand img{
  max-width: 300px;
}
.bg-light {
  background-color: #e6e6e6 !important;
}
nav.navbar {
  //background-color: var(--mku-blue);
  //border-bottom: var(--mku-blue);
}

.top-footer{
  background: var(--mku-light-blue);
  a{color: white; }
}
.bottom-footer{
  background: var(--mku-blue);
  a{color: white; }
}
.footer-widget div h2{
  color: var(--mku-orange)
}
.footer-widget div div ul {
  list-style-type: none;
  padding-left: 0;
}
.footer-widget div div ul li{
  margin-left: 0;
}

.loginDropdownMenu{
  min-width: 300px;
}
.navbar-nav li {
  font-weight: bold;
}
#top-level-communities > a{
  color: var(--mku-blue);
}
ds-community-list-element{
  a{
    color: var(--mku-blue);
  }
  .lead{
    font-weight: bold;
  }
}
#p-tl {
  .mb-4, .my-4 {
    margin-bottom: .5rem !important;
  }
  .mt-4, .my-4 {
    margin-top: .5rem !important;
  }
}

.navbar-title{
  min-width: 400px;
  color: var(--mku-blue);
  font-size: 15pt;
  font-weight: bold;
}

.home-recent .row .col-3 .thumbnail {
  align-items: center;
  justify-content: center;
  box-shadow: var(--thumbnail-box-shadow);
}
#p-spc .thumbnail, #p-cp .thumbnail{
  box-shadow: var(--thumbnail-box-shadow);
}
.ngx-gallery-layout .ngx-gallery-image-wrapper{
  box-shadow: var(--thumbnail-box-shadow) !important;
  margin-top: 12px;
  margin-bottom: 12px;
}
ngx-gallery-image .ngx-gallery-image {
  background-position: center !important;

}
.simple-view-element{
  margin-top: 40px;
}
li a.scholar-profiles{
  border: solid 1.5px var(--mku-orange);
  padding: 5px;
}
.highcharts-credits{display: none;}

ds-home-news ds-search-form form .input-group{
  background-color: #fff;
  padding: 4px;
  border-radius: 5px;box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.1);
}
ds-home-news ds-search-form form .input-group input{
  border: none !important;
  box-shadow: none;
}
.simple-view-element ds-thumbnail .limit-width{
  max-width: none !important;
}
.home-recent, .person-bio{
  border-top: var(--mku-blue) 3px solid;
  margin-top: 15px;
}

ds-recent-item-list h5, .person-bio h5 {
  margin-bottom: 15px;
  display: inline-block; /* Changed to inline-block to properly position the pseudo-element */
  color: white;
  background: var(--mku-blue);
  padding: 10px;
  margin-top: 0;
  position: relative; /* To position the pseudo-element relative to the h5 element */
}

ds-recent-item-list h5::after,  .person-bio h5::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px; /* Adjust as needed to match the padding */
  bottom: 0;
  width: 20px; /* Adjust as needed for desired slant */
  background: var(--mku-blue); /* Same color as the background */
  transform: skewX(-45deg); /* Skew to create the slant */
  transform-origin: top right; /* Origin point for the skew */
  z-index: -1; /* Ensure it stays behind the text */
}
.simple-view-element {
  margin-top: 5px;
}
ds-item-page-abstract-field .preserve-line-breaks {
  white-space: unset !important;
  text-align: justify;
}
#search-page-sidebar-content{
  background: #ddd;
  margin-top: 2px;
  border-radius: 3px;
}
a, li.breadcrumb-item a {
  color: var(--mku-blue) !important;
}
.top-footer a {
  color: white !important;
}
.navbar-nav .nav-link a {
  color: var(--mku-orange) !important;
}
h2.item-page-title-field{
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: var(--mku-orange);
  border-color: var(--mku-orange);
}

#biblioDropdownMenuButton{
  background: var(--mku-light-blue);
  color: white;
}
#citationTabLinks li a.active{
  background: #f8f9fa;
}
#citationTabLinks .nav-tabs {
  border-bottom: 1px solid #f8f9fa !important;
}
#citationTabLinks .nav-tabs .nav-link.active {
  border-color: #f8f9fa #f8f9fa #f8f9fa !important;
}
