// Override or add CSS variables for your theme here

:root {
  //--ds-header-logo-height: 80px;
  //--ds-header-logo-height-xs: 50px;
  //--ds-header-icon-color: #{$link-color};
  //--ds-header-icon-color-hover: #{darken($link-color, 15%)};
  --ds-navbar-link-color: #dd9933;
  --mku-blue: #013378;
  --mku-light-blue: #0066CC;
  --mku-orange: #dd9933;
  --ds-header-icon-color: var(--mku-blue);
  --thumbnail-box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 1px 0 15px -4px rgba(31, 73, 125, 0.8), -1px 0 15px -4px rgba(31, 73, 125, 0.8);
}
