
<nav class="navbar navbar-light p-0 navbar-expand-md">
  <div class="container bg-light">
    <div class="logo">
      <a class="navbar-brand" routerLink="/home">
        <img src="/assets/arcoiris/images/iris-logo.png" class="d-inline-block align-middle"  alt=""/>
        <span>Repositorio Institucional</span>
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNav">
      <ul class="navbar-nav mr-0 ">
        <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)">
          <ds-user-menu [inExpandableNavbar]="true"></ds-user-menu>
        </li>
        <ng-container *ngFor="let section of (sections | async)">
          <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
