<div class="row">
  <div class="col-md-6">
    <ng-container *ngVar="(communitiesRD$ | async) as communitiesRD">

      <div *ngIf="communitiesRD?.hasSucceeded" id="top-level-communities">
        <h2>Browse Communities</h2>
        <p class="lead">{{'home.top-level-communities.help' | translate}}</p>
        <ds-viewable-collection
          [config]="config" [hasBorder]="true"
          [sortConfig]="sortConfig"
          [objects]="communitiesRD$ | async"
          [hidePaginationDetail]="true"
          [hideGear]="true">
        </ds-viewable-collection>
      </div>
      <ds-error *ngIf="communitiesRD?.hasFailed " message="{{'error.top-level-communites' | translate}}"></ds-error>
      <ds-themed-loading *ngIf="communitiesRD?.isLoading " message="{{'loading.top-level-communities' | translate}}"></ds-themed-loading></ng-container>

  </div>
  <div class="col-md-6 text-center">
    <ng-container *ngIf="haveCommunities">
      <h2 class="px-4 text-center mb-4">Knowledge Wheel</h2>
      <div class="text-center">
        <canvas baseChart
                [labels]="doughnutChartLabels"
                [datasets]="doughnutChartDatasets"
                [options]="doughnutChartOptions"
                [legend]="false" [width]="200"
                [type]="'doughnut'">
        </canvas>
      </div>
    </ng-container>
    <ng-container *ngIf="!haveCommunities">
      Loading Knowledge Wheel ...
    </ng-container>
  </div>
</div>
